<h1>Create Comment</h1>
<%= form_with scope: :comment, url: user_post_comments_path(@post.author, @post), method: :post, local: true do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :text %>
  </div>
  <%= form.submit "Create Comment" %>
<% end %>
