<ul>
    <% @users.each do |user| %>
        <li>
        <%= image_tag user.photo %>
        <p>
            <%= link_to user.name, user_path(user) %>
        </p>
        <p>
            Posts: <%= link_to user.posts_counter, user_posts_path(user) %>
        </p>
        </li>
    <% end %>
</ul>

