<div class="container">
  <ul>
    <% @users.each do |user| %>
      <li class="user-list-item">
        <div class="user-photo">
          <% if user.photo.present? %>
            <%= image_tag user.photo, alt: 'User Photo' %>
          <% else %>
            <p class="no-photo-message">No photo available</p>
        <% end %>
      </div>
        <div class="user-info">
          <p class="user-name">
            <%= link_to user.name, user_path(user) %>
          </p>
          <p class="user-posts-counter">
            Posts: <%= link_to user.posts_counter, user_posts_path(user) %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="button-container">
    <button>
      <%= link_to 'New Post', new_post_path, class: 'new-post-button' %>
    </button>
  </div>
</div>
