.post-header {
    display: flex;
    justify-content: space-between;
}

.post-info {
    margin: 0;
}

.comment-section.with-border{
    height: min-content;
    width: 84vw;
    border: solid black 2px;
    padding: 0.5rem;
    margin: 0;
}

.comment-section.with-border p {
    margin: 0;
    padding: 0;
    gap: 0;
}
