.comments-section.with-border {
  margin: -1rem 0 1rem 0;
  width: 84vw;
  border: solid black 2px;
  padding: 0.5rem;
}

.button-container {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-20%);
}
